html, body, .row-fluid, #list, #map  {
  height: 100%;
}

#navbar {
  margin: 0;
  position: absolute;
}

#navbar .pull-right .popover {
  width: auto;
  line-height: 1;
}

#navbar .pull-right .popover .popover-title {
  display: none;
}

#navbar .pull-right .popover .popover-content {
  white-space: nowrap;
}

#container {
  height: 100%;
  padding: 41px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#list .sidebar-nav {
  height: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#list .sidebar-nav .input-large {
  width: 95%;
}

#list .nav-list .odd {
  background-color: #f9f9f9;
}

#list .nav-list img {
  float: left;
  margin-right: 10px;
}

#list .nav-list small {
  display: block;
}

/** Map **/
#map {
  width: 76.595744680851066%;
  margin-left: 0;
  position:relative;
}

  #map .map-search {
    position: absolute;
    z-index: 999;
  }

  #map .map-search i.icon-search {
    margin-left: -20px;
    vertical-align: 2px;
  }

  #map .map {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1200px) {
    #map {
     width: 76.923076923076923%;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    #map {
     width: 77.07182320441989%;
    }
  }

  @media (max-width: 767px) {
    html, body {
      padding: 0;
    }

    #map {
     width: 100%;
     margin-left: 0;
    }

  }

  /* Fix for Google Maps with Twitter bootstrap */
  #map img {
    max-width: none;
  }

  #map .infoWindow h3 {
    line-height: 37px;
  }

  #map .infoWindow h3 img {
    vertical-align: text-bottom;
  }